<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="light">
        <div class="image">
          <a>
            <img
              src="../../../assets/images/bathroomLight.jpg"
              alt="light"
              width="250"
              height="250"
            />
            <h4>Bathroon lightning</h4>
          </a>
        </div>
        <div class="button">
          <button type="button" class="btn btn-primary button" (click)="btn()">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 image">
      <div class="light">
        <div class="image">
          <img
            src="../../../assets/images/pendantLamp.jpg"
            alt="light"
            width="250"
            height="250"
          />
        </div>
        <div class="light-content">Pendant Lamp</div>
      </div>
    </div>
    <div class="col-md-4 image">
      <div class="light">
        <div class="image">
          <img
            src="../../../assets/images/RetroLamp.jpg"
            alt="light"
            width="250"
            height="250"
          />
        </div>
        <div class="light-content">Retro Lamp</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="light">
        <div class="image">
          <img
            src="../../../assets/images/bathroomLight.jpg"
            alt="light"
            width="250"
            height="250"
          />
        </div>
        <div class="light-content">Bathroon lightning</div>
      </div>
    </div>
    <div class="col-md-4 image">
      <div class="light">
        <div class="image">
          <img
            src="../../../assets/images/pendantLamp.jpg"
            alt="light"
            width="250"
            height="250"
          />
        </div>
        <div class="light-content">Pendant Lamp</div>
      </div>
    </div>
    <div class="col-md-4 image">
      <div class="light">
        <div class="image">
          <img
            src="../../../assets/images/RetroLamp.jpg"
            alt="light"
            width="250"
            height="250"
          />
        </div>
        <div class="light-content">Retro Lamp</div>
      </div>
    </div>
  </div>
</div>
