.sideNav{
  display: flex;
  padding: 8%;
  font-size: 1.5rem;
  .title{
    margin: 3px 0px 0px 6px;
  }
}
.sideNav-content{
  margin: 13% 0px 0px 0%;
  padding: 3%;
  width: 15rem;
 .content{
    background-color: currentcolor;
    text-align: center;
    color: white;
    border-radius: 5px;
 }
 a{
  text-decoration: none;
 }
}
